.maincontent {
  background-color: yellow;
}
.maincontent p {
  color: red;
}
/* ul > li {
  background-color: rgb(56, 127, 189);
} */
.maincontent + p {
  color: rgb(48, 44, 236);
}
.maincontent ~ p {
  background-color: blueviolet;
}
#hoverbtn:hover {
  background-color: red;
  color: white;
}
#activebtn:active {
  background-color: blue;
  color: white;
}
#focusinput:focus {
  background-color: #b3afaf;
  border: 1px solid rgb(108, 108, 109);
  font-size: 14px;
  color: #fff;
  outline: none;
  border-radius: 10px;
}
a:visited {
  text-decoration: none;
  /* color: black; */
}
/* #visitedid li:first-child {
  background-color: red;
}
#visitedid li:last-child {
  background-color: rgb(187, 129, 129);
} */
#visitedid li:nth-child(even* {
  /* background-color: green; */
}
/* #heading2 {
  color: red;
}
#heading2 {
  color: yellow;
} */
/* selectors in css example starts from here  */
.mainconatiner .innercontainer p {
  color: red;
}
.mainconatiner > p {
  background-color: blue;
}
#listitem {
  /* color: red; */
}
#listitem + li {
  /* color: blue; */
}
#listitem ~ li {
  /* color: rgb(26, 223, 20); */
}
#loginbtn {
  border: none;
  background-color: blue;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
}
/* pseudo-class examples starts from here  */
#loginbtn:hover {
  background-color: greenyellow;
}
#loginbtn:active {
  background-color: rgb(18, 19, 18);
}
#clickmebtn:active {
  background-color: blue;
}
#username:focus {
  background-color: beige;
  outline: none;
  border: 1px solid gray;
  color: red;
  padding: 10px;
}
#unorderedlist li:first-child {
  /* color: blue; */
}
#unorderedlist li:last-child {
  /* color: rgb(0, 247, 255); */
}
#unorderedlist li:nth-child(odd) {
  color: blue;
}
#vistitedexample:visited {
  color: black;
}

/* pseudo-element examples starts from here  */
#pseudoelement::first-line {
  color: red;
}
#pseudoelement::first-letter {
  font-size: 30px;
  color: blue;
}
#pseudoelement::selection {
  background-color: black;
  color: white;
}
#pseudoelement::before {
  content: "";
  padding: 5px 10px;
  border-radius: 100%;
  background-color: blue;
  margin-right: 10px;
}
#pseudoelement::after {
  content: "after content";
  font-style: italic;
  color: gray;
}
#pseudoinput::placeholder {
  font-size: 8px;
  font-style: italic;
  color: green;
}
) {
  background-color: rgb(216, 83, 83);
}
