* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
header {
  width: 100%;
  background-color: rgb(35, 35, 145);
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 5px;
  position: fixed;
  top: 0;
}
header p {
  font-size: 14px;
}
header nav ul {
  margin-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  /* background-color: red; */
}
header nav ul li {
  list-style: none;
  font-size: 10px;
  cursor: pointer;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.5s linear;
}
#galleryid {
  background-color: azure;
}
header nav ul li a:active {
  background-color: white;
  color: blue;
  border-radius: 4px;
}
header nav ul li a:hover {
  background-color: rgb(129, 127, 127);
  color: rgb(251, 251, 252);
  border-radius: 4px;
  padding: 3px 5px;
}
img {
  width: 400px;
  height: 400px;
}
.scale {
  transform: scaleX(0.9);
}
